Plugins>MOPS>Filter(MOPS),              "MaximumSphere",                   net.haesleinhuepf.mops.implementations.MaximumSphere
Plugins>MOPS>Filter(MOPS),              "MaximumRectangle",                   net.haesleinhuepf.mops.implementations.MaximumRectangle
Plugins>MOPS>Filter(MOPS),              "MaximumCube",                   net.haesleinhuepf.mops.implementations.MaximumCube
Plugins>MOPS>Filter(MOPS),              "MinimumSphere",                   net.haesleinhuepf.mops.implementations.MinimumSphere
Plugins>MOPS>Filter(MOPS),              "MinimumRectangle",                   net.haesleinhuepf.mops.implementations.MinimumRectangle
Plugins>MOPS>Filter(MOPS),              "MinimumCube",                   net.haesleinhuepf.mops.implementations.MinimumCube
Plugins>MOPS>Filter(MOPS),              "MeanSphere",                   net.haesleinhuepf.mops.implementations.MeanSphere
Plugins>MOPS>Filter(MOPS),              "MeanRectangle",                   net.haesleinhuepf.mops.implementations.MeanRectangle
Plugins>MOPS>Filter(MOPS),              "MeanCube",                   net.haesleinhuepf.mops.implementations.MeanCube
Plugins>MOPS>Filter(MOPS),              "MedianSphere",                   net.haesleinhuepf.mops.implementations.MedianSphere
Plugins>MOPS>Filter(MOPS),              "MedianRectangle",                   net.haesleinhuepf.mops.implementations.MedianRectangle
Plugins>MOPS>Filter(MOPS),              "MedianCube",                   net.haesleinhuepf.mops.implementations.MedianCube
Plugins>MOPS>Threshold(MOPS),              "OtsuThreshold",                   net.haesleinhuepf.mops.implementations.OtsuThreshold
Plugins>MOPS>Threshold(MOPS),              "PercentileThreshold",                   net.haesleinhuepf.mops.implementations.PercentileThreshold
Plugins>MOPS>Threshold(MOPS),              "MinimumThreshold",                   net.haesleinhuepf.mops.implementations.MinimumThreshold
Plugins>MOPS>Threshold(MOPS),              "MeanThreshold",                   net.haesleinhuepf.mops.implementations.MeanThreshold
Plugins>MOPS>Threshold(MOPS),              "MaxLikelihoodThreshold",                   net.haesleinhuepf.mops.implementations.MaxLikelihoodThreshold
Plugins>MOPS>Threshold(MOPS),              "MaxEntropyThreshold",                   net.haesleinhuepf.mops.implementations.MaxEntropyThreshold
Plugins>MOPS>Threshold(MOPS),              "YenThreshold",                   net.haesleinhuepf.mops.implementations.YenThreshold
Plugins>MOPS>Threshold(MOPS),              "TriangleThreshold",                   net.haesleinhuepf.mops.implementations.TriangleThreshold
Plugins>MOPS>Threshold(MOPS),              "MinErrorThreshold",                   net.haesleinhuepf.mops.implementations.MinErrorThreshold
Plugins>MOPS>Threshold(MOPS),              "MomentsThreshold",                   net.haesleinhuepf.mops.implementations.MomentsThreshold
Plugins>MOPS>Threshold(MOPS),              "LiThreshold",                   net.haesleinhuepf.mops.implementations.LiThreshold
Plugins>MOPS>Threshold(MOPS),              "IJ1Threshold",                   net.haesleinhuepf.mops.implementations.IJ1Threshold
Plugins>MOPS>Threshold(MOPS),              "HuangThreshold",                   net.haesleinhuepf.mops.implementations.HuangThreshold
Plugins>MOPS>Threshold(MOPS),              "ShanbhagThreshold",                   net.haesleinhuepf.mops.implementations.ShanbhagThreshold
Plugins>MOPS>Threshold(MOPS),              "IntermodesThreshold",                   net.haesleinhuepf.mops.implementations.IntermodesThreshold
Plugins>MOPS>Threshold(MOPS),              "RenyiEntroopyThreshold",                   net.haesleinhuepf.mops.implementations.RenyiEntroopyThreshold
Plugins>MOPS>Threshold(MOPS),              "IsoDataThreshold",                   net.haesleinhuepf.mops.implementations.IsoDataThreshold
Plugins>MOPS>Threshold(MOPS),              "LocalSauvolaThresholdSphere",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdSphere
Plugins>MOPS>Threshold(MOPS),              "LocalSauvolaThresholdRectangle",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdRectangle
Plugins>MOPS>Threshold(MOPS),              "LocalSauvolaThresholdCube",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdCube
Plugins>MOPS>Filter(MOPS),              "Correlate",                   net.haesleinhuepf.mops.implementations.Correlate
Plugins>MOPS>Filter(MOPS),              "Convolve",                   net.haesleinhuepf.mops.implementations.Convolve
Plugins>MOPS>Create(MOPS),              "CreateGaussianKernel2D",                   net.haesleinhuepf.mops.implementations.CreateGaussianKernel2D
Plugins>MOPS>Create(MOPS),              "CreateGaussianKernel3D",                   net.haesleinhuepf.mops.implementations.CreateGaussianKernel3D
Plugins>MOPS>Create(MOPS),              "CreateLogKernel2D",                   net.haesleinhuepf.mops.implementations.CreateLogKernel2D
Plugins>MOPS>Create(MOPS),              "CreateLogKernel3D",                   net.haesleinhuepf.mops.implementations.CreateLogKernel3D
Plugins>MOPS>Deconvolve(MOPS),              "RichardsonLucyDeconvolution",                   net.haesleinhuepf.mops.implementations.RichardsonLucyDeconvolution
Plugins>MOPS>Filter(MOPS),              "VarianceSphere",                   net.haesleinhuepf.mops.implementations.VarianceSphere
Plugins>MOPS>Filter(MOPS),              "VarianceRectangle",                   net.haesleinhuepf.mops.implementations.VarianceRectangle
Plugins>MOPS>Filter(MOPS),              "VarianceCube",                   net.haesleinhuepf.mops.implementations.VarianceCube
Plugins>MOPS>Filter(MOPS),              "Tubeness2D",                   net.haesleinhuepf.mops.implementations.Tubeness2D
Plugins>MOPS>Filter(MOPS),              "Tubeness3D",                   net.haesleinhuepf.mops.implementations.Tubeness3D
Plugins>MOPS>Filter(MOPS),              "GaussianBlur2D",                   net.haesleinhuepf.mops.implementations.GaussianBlur2D
Plugins>MOPS>Filter(MOPS),              "GaussianBlur3D",                   net.haesleinhuepf.mops.implementations.GaussianBlur3D
