Plugins>MOPS>Filter,              "MaximumSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.MaximumSphere
Plugins>MOPS>Filter,              "MaximumRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.MaximumRectangle
Plugins>MOPS>Filter,              "MaximumCube(MOPS)",                   net.haesleinhuepf.mops.implementations.MaximumCube
Plugins>MOPS>Filter,              "MinimumSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.MinimumSphere
Plugins>MOPS>Filter,              "MinimumRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.MinimumRectangle
Plugins>MOPS>Filter,              "MinimumCube(MOPS)",                   net.haesleinhuepf.mops.implementations.MinimumCube
Plugins>MOPS>Filter,              "MeanSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.MeanSphere
Plugins>MOPS>Filter,              "MeanRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.MeanRectangle
Plugins>MOPS>Filter,              "MeanCube(MOPS)",                   net.haesleinhuepf.mops.implementations.MeanCube
Plugins>MOPS>Filter,              "MedianSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.MedianSphere
Plugins>MOPS>Filter,              "MedianRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.MedianRectangle
Plugins>MOPS>Filter,              "MedianCube(MOPS)",                   net.haesleinhuepf.mops.implementations.MedianCube
Plugins>MOPS>Threshold,              "OtsuThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.OtsuThreshold
Plugins>MOPS>Threshold,              "PercentileThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.PercentileThreshold
Plugins>MOPS>Threshold,              "MinimumThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MinimumThreshold
Plugins>MOPS>Threshold,              "MeanThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MeanThreshold
Plugins>MOPS>Threshold,              "MaxLikelihoodThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MaxLikelihoodThreshold
Plugins>MOPS>Threshold,              "MaxEntropyThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MaxEntropyThreshold
Plugins>MOPS>Threshold,              "YenThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.YenThreshold
Plugins>MOPS>Threshold,              "TriangleThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.TriangleThreshold
Plugins>MOPS>Threshold,              "MinErrorThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MinErrorThreshold
Plugins>MOPS>Threshold,              "MomentsThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.MomentsThreshold
Plugins>MOPS>Threshold,              "LiThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.LiThreshold
Plugins>MOPS>Threshold,              "IJ1Threshold(MOPS)",                   net.haesleinhuepf.mops.implementations.IJ1Threshold
Plugins>MOPS>Threshold,              "HuangThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.HuangThreshold
Plugins>MOPS>Threshold,              "ShanbhagThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.ShanbhagThreshold
Plugins>MOPS>Threshold,              "IntermodesThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.IntermodesThreshold
Plugins>MOPS>Threshold,              "RenyiEntroopyThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.RenyiEntroopyThreshold
Plugins>MOPS>Threshold,              "IsoDataThreshold(MOPS)",                   net.haesleinhuepf.mops.implementations.IsoDataThreshold
Plugins>MOPS>Threshold,              "LocalSauvolaThresholdSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdSphere
Plugins>MOPS>Threshold,              "LocalSauvolaThresholdRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdRectangle
Plugins>MOPS>Threshold,              "LocalSauvolaThresholdCube(MOPS)",                   net.haesleinhuepf.mops.implementations.LocalSauvolaThresholdCube
Plugins>MOPS>Filter,              "Correlate(MOPS)",                   net.haesleinhuepf.mops.implementations.Correlate
Plugins>MOPS>Filter,              "Convolve(MOPS)",                   net.haesleinhuepf.mops.implementations.Convolve
Plugins>MOPS>Create,              "CreateGaussianKernel2D(MOPS)",                   net.haesleinhuepf.mops.implementations.CreateGaussianKernel2D
Plugins>MOPS>Create,              "CreateGaussianKernel3D(MOPS)",                   net.haesleinhuepf.mops.implementations.CreateGaussianKernel3D
Plugins>MOPS>Create,              "CreateLogKernel2D(MOPS)",                   net.haesleinhuepf.mops.implementations.CreateLogKernel2D
Plugins>MOPS>Create,              "CreateLogKernel3D(MOPS)",                   net.haesleinhuepf.mops.implementations.CreateLogKernel3D
Plugins>MOPS>Deconvolve,              "RichardsonLucyDeconvolution(MOPS)",                   net.haesleinhuepf.mops.implementations.RichardsonLucyDeconvolution
Plugins>MOPS>Filter,              "VarianceSphere(MOPS)",                   net.haesleinhuepf.mops.implementations.VarianceSphere
Plugins>MOPS>Filter,              "VarianceRectangle(MOPS)",                   net.haesleinhuepf.mops.implementations.VarianceRectangle
Plugins>MOPS>Filter,              "VarianceCube(MOPS)",                   net.haesleinhuepf.mops.implementations.VarianceCube
Plugins>MOPS>Filter,              "Tubeness2D(MOPS)",                   net.haesleinhuepf.mops.implementations.Tubeness2D
Plugins>MOPS>Filter,              "Tubeness3D(MOPS)",                   net.haesleinhuepf.mops.implementations.Tubeness3D
Plugins>MOPS>Filter,              "GaussianBlur2D(MOPS)",                   net.haesleinhuepf.mops.implementations.GaussianBlur2D
Plugins>MOPS>Filter,              "GaussianBlur3D(MOPS)",                   net.haesleinhuepf.mops.implementations.GaussianBlur3D
